<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/Kontakt.jpg');">
    
        </div>
    </div>

    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <h2 class="title" [ngClass]="isDesktopDevice ? 'col-12': 'col-12 mx-auto text-center'">Contact us</h2>
            </div>

            <div class="row">
                <h5 [ngClass]="isDesktopDevice ? 'col-11': 'col-12 mx-auto'" style="line-height: 2em;">
                    Adress <br>
                    Željeznička num 30. 71210 Sarajevo, Bosnia and Herzegovina <br> <br>

                    Phone Number <br>
                    +387 61 651 756 
                    </h5>
            </div>

            <div class="row  mt-5">
                <h2 class="title" [ngClass]="isDesktopDevice ? 'col-12': 'col-12 mx-auto text-center'">Working hours</h2>
            </div>

            <div class="row">
                <h5 [ngClass]="isDesktopDevice ? 'col-11': 'col-12 mx-auto'" style="line-height: 2em;">
                    Monday-Saturday: 08:00 - 19:00 <br>
                    Sunday and holidays are non working days
                </h5>
            </div>
        </div>
    </div>
</div>

