<div class="wrapper">
  <div class="page-header clear-filter">
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/Pozadina.jpg');">

    </div>
      <div class="container">
          <div class="content-center brand">
              <h3 style="font-weight:bold;">Welcome to <br> Car Maintenance Shop "Omar and Merjem"</h3>

            <div class="col-12">
              <div class="arrow-container">
                <div class="chevron"></div>
                <div class="chevron"></div>
                <div class="chevron"></div>
              </div>
          </div>
              
          </div>

          
      </div>
  </div>

  <div class="main">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12  mt-5">
                  <h2 style="text-align: center;">Winter is comming, <br> 
                    from 01.11. winter equipment is mandatory</h2> 
                </div>
            </div>

            <div class="row">
                <h5 [ngClass]="isDesktopDevice ? 'col-11': 'col-12 mx-auto'" style="line-height: 2em;">
                    In the period from 01.11.2022 to 01.04.2023 on the territory of Bosnia and Herzegovina 
                    it is legally obligatory to possess and
                    use of winter equipment, regardless of weather conditions. <br>
                    The Rulebook on Traffic in Winter Conditions prescribes mandatory winter equipment. <br> 
                    Equipment that includes: <br> <br>
                   <b> 1. </b> Tires for winter use (MS, M+S, M&S, Snow Winter, etc.) on all vehicle wheels or <br>
                   <b> 2. </b> Tires for winter use (MS, M+S, M&S, Snow Winter, etc.) on drive wheels and snow chains,
                   that is, other devices for increasing traction ready to be mounted on at least two driving wheels or <br>
                    <b>3.</b> Tires for summer use on all wheels with a minimum profile depth of four millimeters and snow chains,
                    i.e. other devices for increasing traction ready to be installed on at least two driving wheels. <br> <br>

                    We remind you that, in accordance with Article 228 of the Law, if an authorized person finds a vehicle moving without winter equipment on
                    part of the road and at the time when winter equipment is mandatory, will order the driver to immediately stop moving the vehicle and remove
                    malfunction, i.e. to use winter equipment. If the driver does not comply with the order, an authorized person (police officer)
                    will exclude the vehicle from traffic and confiscate the vehicle registration certificate.
                </h5>
            </div>

            <div class="row justify-content-center">
                <img src="assets/img/3-najbolje-zimske-gume-u-2016.jpg" alt="">
            </div>

            <div class="row justify-content-center">
                <div class="col-12  mt-5">
                  <h2 style="text-align: center;">Switching to summer tires, <br>
                    from 01.04.</h2> 
                </div>
            </div>

            <div class="row">
                <h5 [ngClass]="isDesktopDevice ? 'col-11': 'col-12 mx-auto'" style="line-height: 2em;">
                  When the summer months begin, the characteristics of winter tires can no longer keep up with the temperature difference,
                  that's why summer tires, which are harder and more rigid, provide much better conditions and safer driving. <br>
                  In the summer months with winter tires on your vehicle, the braking distance could be drastically extended.
                </h5>
            </div>

            <div class="row justify-content-center">
                <img src="assets/img/LjetneGume.jpg" alt="">
            </div>

            <div class="row mt-5">

            </div>

            <div class="row mt-5">

            </div>

            <div class="row mt-5">

            </div>
            
        </div>
  </div>
</div>
